.cart-summary-container {
  line-height: 1.5;
  align-self: flex-end;
  min-width: 200px;
  align-items: center;
}
.cart-summary-heading {
  color: #616e7c;
  font-size: 24px;
  margin-bottom: 0;
}
.cart-summary-no-of-items {
  color: #616e7c;
  font-size: 18px;
  margin-top: 0;
}

.checkout-button {
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
  width: 100%;
}

.cart-summary-order-total {
  color: #171f46;
}
